:root {
    --colorTexto: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
}

button {
    text-decoration: none;
}

i {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 700;
}

form {
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    width: 100%;
    margin: auto;
}

.form .grupo {
    position: relative;
    margin: 45px;
}

input,
select {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTexto);
    -webkit-inner-spin-button: none;
    -webkit-outer-spin-button: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus,
select:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: var(--colorTexto);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label,
select:focus~label,
select:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before,
select:focus~.barra::before {
    width: 100%;
}

.submit {
    font-family: 'Roboto';
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.back {
    font-family: 'Roboto';
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.back:hover{
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    bottom: 7px;
    transition: .2s ease all;
}

.calculator{
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.first {
    font-family: 'Roboto';
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 100px;
    font-size: 30px;
    cursor: pointer;
}

.first:hover {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    right: 15px;
    transition: .2s ease all;
}

.fa-hand-point-left {
    padding-right: 10px;
}

.fa-calculator,
.fa-piggy-bank,
.fa-coins,
.fa-recycle,
.fa-plus-minus,
.fa-ruler-combined,
.fa-chalkboard-user{
    padding: 22px;
}

.fa-check{
    position: relative;    
    top: 13px;
    left: -10px;
    font-size: 2em;
    font-weight: 700;
}

.fa-x{
    position: relative;    
    top: 17px;
    left: -10px;
    font-size: 1.6em;
    font-weight: 700;
}

.prueba{
    top: 10px;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
}

.prueba2{
    font-weight: 700;
    position: relative;
    top: 11px;
    right: 18px;
}

.fa-square-js {
    margin-left: 50%;
    font-size: 6em;
    color: #ffff00;
    padding-bottom: 40px;
}

.fa-square-js:hover{
    transition: all .5s ease-in;
    transform: rotate(360deg);
    color: #ffbb00;
}

.grados{
    margin-bottom: -2rem;
    position: relative;
    left: 73px;
    font-weight: 700;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .form {
        width: 80%;
    }
}